.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage-text-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 1em;
    bottom: 1em;

    width: calc(100% - 2em);
    height: 8em;

    font-size: 5.5cqw;

    border-collapse: collapse;

    animation: fade-in 0.2s ease-out forwards;

    z-index: 1000;
}

.stage-text-name {
    width: fit-content;
    padding: 0.25em 0.5em;
    border: 1px solid var(--white);
    border-radius: 0.1em;
    background-color: var(--black-vale);
}

.stage-text {
    background-color: var(--black-vale);

    flex: 1;

    border: 1px solid var(--white);
    border-radius: 0.1em;
    padding: 0.5em;
    line-height: 1.2;

    cursor: pointer;

    &::after {
        content: "/";
        animation: blink 1s step-start 0s infinite;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#canvas {
    width: 100%;
    height: 100%;

    position: absolute;
}

#container {
    justify-content: center;
}

.game-over {
    position: absolute;
    align-self: center;

    font-size: 8cqw;

    padding: 2cqw;

    border-top: 1cqw var(--white-vale) double;
    border-bottom: 1cqw var(--white-vale) double;

    background-color: var(--black-vale);
}

.clear-label {
    position: absolute;

    font-size: 8cqw;

    padding: 2cqw;

    transform: translateY(2em);

    animation: blink 1s infinite steps(1, end);
}

#retry,
#clear {
    padding: 2em;
    z-index: 1000;
}

.options {
    transform: translateY(7em);

    button {
        font-size: 8cqw;
        background-color: var(--black-vale);
    }
}

.stage-background {
    z-index: 100;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
