.page {
    padding: 6cqw;
    font-size: 4cqw;
}

h1 {
    font-size: 32cqw;
    font-weight: 100;
    line-height: 0.9em;

    letter-spacing: 2cqw;

    text-shadow:
        1cqw 1cqw 0px var(--wisteria),
        2cqw 2cqw 0px rgba(0, 0, 0, 0.2);
}

.options {
    gap: 4cqw;
}

button {
    font-size: 8cqw;
}

#credit {
    font-size: 3.5cqw;
}

.page-description {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.5em;

    h2,
    h3,
    h4 {
        font-size: 8cqw;
        border-bottom: 1px solid var(--white);
    }

    p {
        font-size: 4cqw;
    }
}

.button {
    display: flex;
    flex-direction: row;
    gap: 2cqw;
    padding: 2cqw;
    width: 100%;

    .icon {
        aspect-ratio: 1;
        height: 16cqw;

        background-color: var(--white);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1cqw;
        width: 100%;

        h2,
        h3,
        h4 {
            font-size: 6cqw;
            border-bottom: 1px solid var(--white);
            text-align: left;
        }

        .description {
            font-size: 3cqw;
            text-align: left;
        }
    }
}

#credit {
    justify-content: start;
    gap: 4em;

    h2 {
        font-size: 8cqw;
    }

    section {
        width: 100%;
    }

    h3 {
        font-size: 6cqw;
        border-bottom: 1px solid var(--white);
        padding-bottom: 0.2em;
        text-align: left;
        width: 100%;
    }

    p {
        padding: 0.5em;
        font-size: 3.6cqw;
        text-align: left;
    }

    text-align: center;

    .options {
        margin-top: auto;
    }
}

#womake {
    padding: 2em;

    p {
        line-height: 1.4;
    }
}

#setting {
    font-size: 6cqw;

    h2 {
        text-align: center;
        width: 100%;
        font-size: 8cqw;
        padding-bottom: 0.2em;
        border-bottom: 1px solid var(--white);
    }

    .setting-container {
        width: 100%;
    }

    .options {
        display: flex;
        width: 100%;
        gap: 0.5em;

        padding-bottom: 0.2em;
        border-bottom: 1px var(--white-vale) solid;

        .input {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            text-align: center;
            width: 100%;

            label {
                font-size: 0.75em;
                color: var(--white-vale);
            }
        }
    }

    x-radio {
        display: flex;
        flex-direction: row;

        .value {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            width: 100%;

            button {
                width: 100%;
            }
        }
    }

    x-number {
        line-height: 1em;
        width: 100%;
        display: flex;

        .value {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#logo {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
}
